# MONGO_URI: The connection string for your MongoDB database. 
# This typically includes the protocol (mongodb:// or mongodb+srv://), 
# the hostname, port (if applicable), and any authentication details.
MONGO_URI=

# DB_NAME: The name of the specific database you want to use within your MongoDB instance.
# For example, if your database is named "shopping", set DB_NAME=shopping.
DB_NAME=