.carousel .control-dots .dot {
  width: 62px;
  height: 10px;
  margin: 0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.9);
}

.carousel .control-dots .dot:nth-child(1) {
  border-radius: 12px 0px 0px 12px;
}

.carousel .control-dots .dot:nth-child(2) {
  border-radius: 0px 12px 12px 0px;
  padding-left: 1px;
}

.control-arrow:hover {
  background-color: transparent !important;
}

.carousel .slide .legend {
  top: 30%;
  left: 10%;
  margin-left: 0%;
  width: 40%;
  background: transparent;
  padding: 0px;
  font-size: 78px;
  text-align: left;
  opacity: 1;
}

.carousel .slide .legend h1 {
  padding: 40px 0px;
}

.carousel .slide .legend button {
  transition: all 0.3s ease-in-out;
}

.carousel .slide .legend button:hover {
  background-color: #8a33fd;
  color: white;
  transform: scale(1.1);
}

@media screen and (max-width: 1530px) {
  .carousel .slide .legend {
    top: 15%;
  }
  .legend button {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 1290px) {
  .carousel .slide .legend {
    top: 15%;
  }
  .carousel .slide .legend h1 {
    padding: 0px 0px;
  }
}

@media screen and (max-width: 1022px) {
  .carousel .slide .legend {
    top: 25%;
  }
  .legend button {
    margin-bottom: 150px !important;
    position: absolute;
    margin-top: 20px;
  }
}

@media screen and (max-width: 489px) {
  .carousel .slide .legend {
    top: 7%;
  }
  .legend button {
    padding: 5px 10px;
  }
  .carousel .control-dots {
    margin: 5px;
  }
  .carousel .control-dots .dot {
    width: 42px;
    height: 5px;
  }
}
